/* ================================== */
/* Global Styles         */
/* ================================== */

body {
  margin: 0;
  font-family: sans-serif;
}

/* ================================== */
/* Main Container          */
/* ================================== */

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

/* ================================== */
/* Add Task Form           */
/* ================================== */

#add-task-form {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

#add-task-form h2 {
  margin-top: 0;
  margin-bottom: 15px;
}

#add-task-form label,
#add-task-form input,
#add-task-form select,
#add-task-form button {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

#add-task-form button {
  width: auto;
  margin-right: 10px;
}

/* ================================== */
/* Eisenhower Grid           */
/* ================================== */

.eisenhower-grid {
  display: grid; /* Enables CSS Grid layout for this container */
  grid-template-columns: 50% 50%; 
  gap: 15px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh; /* Add some top margin - adjust this value as needed */
}

/* ================================== */
/* Quadrants             */
/* ================================== */

.quadrant {
  border: 1px solid #ccc;
  padding: 15px;
  min-height: 200px; 
}

.quadrant h2 {
  margin-top: 0;
  text-align: center;
}

/* ================================== */
/* Task List               */
/* ================================== */

.task-list {
  margin-top: 10px;
}

.task-item {
  border-bottom: 1px dashed #eee;
  padding: 8px 0;
}

.task-item:last-child {
  border-bottom: none;
}

/* ================================== */
/* Media Queries           */
/* ================================== */

/* Media query for screens wider than 768px (typical tablet size) */
@media (min-width: 768px) {
  .main-container {
    flex-direction: row;
    align-items: flex-start;
  }

  #add-task-form {
    width: 300px;
    margin-right: 20px;
  }  

  .eisenhower-grid {
    grid-template-columns: 1fr 1fr;
    flex-grow: 1;
  }
}

@media (min-width: 1200px) {
.eisenhower-grid {
    flex-grow: 1;
  }
}
